body {
    text-align:center; 
    background-image: url("https://get.wallhere.com/photo/pixel-art-pixels-digital-art-horizon-1366675.jpg") ;
    width: 2900px;
    height: 1100px;
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

#HerosEtPV {
    display:flex;
    justify-content:right;
    align-items:flex-end;
    justify-content: space-around;
}

#ManaHeros {
    display: flex;
    justify-content: space-around;
    background-color:darkturquoise;
}

#Mobs {
    display:flex;
    justify-content: left;
    align-items:flex-end;
    justify-content: space-around;
}

img{
    height:275px;   
    width: 275px;
}

#persosEtMonstres{
    display:flex;
    justify-content: space-between;
}

#PvBob {
    background-color: chartreuse;
    transform: scale(1.5);
}

#PvBoi {
    background-color: chartreuse;
    transform: scale(1.5);
}

#PvDestructor {
    background-color: chartreuse;
    transform: scale(1.5);
}

#PvRandom_Man {
    background-color: chartreuse;
    transform: scale(1.5);
}

#ManaHeros{
    transform: scale(1.2);
}

#Attaque {
    border-radius: 100px;
    transform: scale(3);
}

#Attaque_Spe {
    border-radius: 100px;
    transform: scale(3);
}

#Defense {
    border-radius: 100px;
    transform: scale(3);
}


button:hover {
    background-color: rgba(255, 0, 0, 0.815);
    border-radius: 100px;
  }

#Affichage {

    background-color: blue;
    opacity: 70%;
    display: inline-block;
    border: 10px double #000000;
    color: #000000;
    text-align: center;
    font-size: 28px;
    text-decoration: underline;
    padding: 40px;
    width: 2600px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 100px;
    font-style: italic;
    display: flex;
    align-content: flex-end;
    justify-content: space-around;
}